# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
eggs/
.eggs/
*.egg-info/
*.egg

# Virtual environments
.venv
venv/
env/

# Tools
.mypy_cache/
.ruff_cache/
.pytest_cache/

# OS files
.DS_Store
